#app {
  font-size: larger;
  background-color: antiquewhite;
}


main {
  position: absolute;
  left: 6vw;
  width: 95vw;
}

a {
  color: lightgreen
}

article {
  background-color: rgba(127, 255, 212, 0.39);
  border-radius: 5%;
  padding: 0.5cap;
  margin: .5cap;
}

@media (max-width: 600px) {
  article {
    min-width: 100%;
  }

  aside  {
      visibility: hidden;
  }

  main {
    left: 0vw;
  }
}