article.index {
  margin-left: 20vw;
  margin-bottom: 5vh;
  padding: 15px;
  width: 45vw;
  transform: perspective(100vw) rotateX(3deg) rotateY(3deg);
}

h3 {
  text-align: center;
}

span {
  padding: 3px;
  border-radius: 15px;
  background-color: cadetblue;
}

@media (max-width: 700px) {
  article.index {
    margin-left: 3%;
    transform: perspective(200vw) rotateX(3deg) rotateY(3deg);
  }
}
